{% extends "base.html" %}

{% block title %}The colloquy of {{ conversation.sender_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h3>The colloquy of {{ conversation.sender_name }}</h3>
        <p>
        Someone forwarded a spammer's email to {{ request.site.name }}, which
        replied to the email, pretending to be a person called
        {{ conversation.sender_name }} and starting a conversation.
        </p>

        <p>
        This is that conversation.
        </p>

        {% if request.user.is_staff %}
        <a class="btn btn-default" href="{% url "admin:main_conversation_change" conversation.id %}">Admin</a>
        {% endif %}

        {% if own or request.user.is_staff %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ conversation.category }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Select the category of the spam email</a></li>
                <li role="separator" class="divider"></li>
                {% for category in spam_categories %}
                <li><a href="{% url "main:conversation-change" conversation.id %}?key={{ request.GET.key }}&category={{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <form method="POST" style="display: inline" action="{% url "main:conversation-delete" conversation.id %}?key={{ request.GET.key }}">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        {% endif %}
    </div>
    <div class="col-md-12">
        <hr>
    </div>
</div>

{% for message in conversation.message_set.all %}
    <div class="row">
        {% if message.direction == "S" %}
        <div class="col-md-4"></div>
        {% endif %}

        <div class="col-md-8">
            {% if message.direction == "S" %}
            <div class="panel panel-default panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ request.site.name }}</h3>

            {% else %}
            <div class="panel panel-default panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Spammer</h3>
            {% endif %}
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Subject:</strong> {{ message.subject }}</li>
                    <li class="list-group-item"><strong>On:</strong> {{ message.timestamp }}</li>
                </ul>
                <div class="panel-body">
                    <p>{{ message.best_body|linebreaks }}</p>
                </div>
            </div>
        </div>

        {% if message.direction != "S" %}
        <div class="col-md-4"></div>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}
